@charset "utf-8";

/* reset */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
}

img {
    width: 100%;
    vertical-align: top;
}

/* 목록의 마커 제거 */
li {
    list-style: none;
}

button {
    background: transparent;
    border: none;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* font */
html {
    font-size: 10px;
}

body {
    font: 1.5rem/1.8 Verdana, sans-serif;
    color: #333;
}

.logo {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 4px;
}

h2,
h3 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 2.4rem;

}

h3 {
    font-size: 1.6rem;
    letter-spacing: 1px;
}

a {
    color: #243c84;
    text-decoration: none;
}

.main_tit {
    font-size: 3.6rem;
    letter-spacing: 4px;
    color: rgba(255, 255, 255, .85);
}

#menu h3 {
    color: #fff;
    font-weight: normal;
}

/* 섹션3 */
#event h3 {
    font-size: 1.8rem;
    font-weight: 700;
}

#event li p:first-of-type {
    color: #999;
}

#event a {
    color: #fff;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: 'omyu_pretty', sans-serif;
}

@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.section h2,
h1,
a {
    font-family: 'KCC-Ganpan', sans-serif;

}

@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.section h3 {
    font-family: 'KIMM_Bold', sans-serif;
}

button {
    color: #fff;
}

::placeholder {
    color: #ccc;
}

/* foooer */
footer {
    color: #ccc;
}

/* 헤더 */
header {
    z-index: 9999;
    position: fixed;
    width: 100%;
    padding: 12px 30px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

nav {
    display: none;
}

/* 섹션1 */
#main_img {
    position: relative;
}

#main_img h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#main_img b {
    padding: 6px 12px 10px;
    background: rgba(0, 0, 0, 0.34);
}

#main_img span {
    display: none;
}

/* 섹션공통 */
.section {
    padding: 81px 30px 0;
}

.section h2 {
    line-height: 1;
    border-bottom: 1px solid #f1f1f1;
    padding: 20px 0;
    margin-bottom: 20px;
}

.section li {
    margin-bottom: 16px;
}

/* 섹션2 */
#menu h2 {
    margin-bottom: 40px;
}

#menu li {
    position: relative;
    background: #f2f2f2;
}

#menu h3 {
    position: absolute;
    left: 0;
    top: 0;
    background: #243c84;
    padding: 4px 12px;
}

/* 섹션3 */
#event>p {
    margin-bottom: 40px;
}

#event h3 {
    margin-top: 16px;
}

#event li p:first-of-type {
    margin: 8px 0;
}

#event a {
    display: block;
    text-align: center;
    background: #243c84;
    padding: 6px 0;
    margin: 16px 0 24px;
}

/* 섹션4 */
#VoC input {
    display: block;
    width: 100%;
    height: 40px;
    margin: 15px 0;
    padding: 8px;
    border: 1px solid #ccc;
}

#VoC button {
    height: 38px;
    background: #243c84;
    margin: 20px 0 45px;
    padding: 8px 16px;
}

.map {
    height: 182px;
    margin-bottom: 8px;
}
::placeholder {
    padding-left: 8px;
}
/* 푸터 */
footer span:nth-of-type(1),
footer span:nth-of-type(3) {
    display: none;
}

footer {
    background: #000;
    padding: 30px 0;
    text-align: center;
}

/* 테블릿 768px */
@media (min-width: 768px) {

    /* 헤더 */
    /* 네비게이션 */
    nav {
        display: block;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    header ul {
        display: flex;
    }

    nav ul li:not(:first-of-type) {
        margin-left: 36px;
    }

    /* 섹션2~4공통 */
    .section {
        padding: 81px 32px 0;
    }

    .section ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section li {
        width: 49%;
    }

    /* 푸터 */
    footer span:nth-of-type(2n-1) {
        display: inline;
    }

    footer span:nth-of-type(2) {
        display: none;
    }
}

/* 데스크탑 992이상 */
@media (min-width: 992px) {

    /* 헤더 */
    /* 네비게이션 */
    nav {
        display: block;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    header ul {
        display: flex;
    }

    nav ul li:not(:first-of-type) {
        margin-left: 36px;
    }

    /* 섹션1*/
    #main_img {
        max-width: 1496px;
        margin: 0 auto;
    }

    #main_img span {
        display: inline-block;
    }

    /* 섹션2~4공통 */
    .section {
        max-width: 1496px;
        margin: 0 auto;
        padding: 81px 30px 0;
    }

    .section ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section li {
        width: 24%;
    }

    #event li div {
        height: 200px;
    }

    /* 섹션4 */
    .map {
        height: 844px;
    }

    /* 푸터 */
    footer span:nth-of-type(2n-1) {
        display: inline;
    }

    footer span:nth-of-type(2) {
        display: none;
    }
}